@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-secondary;
  }
}

@layer components {
  .nav-page-link {
    @apply rounded-md bg-gray-900 px-3 py-2 text-heading-small-7-standard text-secondary;
  }

  .swiper {
    @apply w-[350px] h-[350px];
  }

  .swiper-slide {
    @apply bg-center bg-cover relative;
  }

  .swiper-slide img {
    @apply w-full h-full block object-cover object-center;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: #2a334b;
    mix-blend-mode: difference;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 100vh;
    border: 3px solid #2a334b;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #f0f0f0;
  }
}
